
{% set uniqueId = "id_f4eea650-0b9c-49bd-b364-28061df2d2ac" %}
{% set backgroundFixed = general_settings.fixed ? 'fixed' : 'scroll' %}
{% set backgroundColor = general_settings.background_color_enable ? 'background-color:' ~ 
general_settings.color ~  ';' : '' %}
{% set backgroundImage = general_settings.background_image_enable ? 'background-image: url(' ~ 
general_settings.image ~ 
');background-attachment:' ~  backgroundFixed ~  ';background-size:' ~  general_settings.size ~  ';' : '' %}

<section data-id="newarrivals" css="{{ backgroundColor }}{{ backgroundImage }}">
  <div class="core-overlay " css="background-color: {{ general_settings.overlay }}"></div>
  <div class="container">
    {% set collection = collections[content.collection] %}
    <div class="adress p:30px_0px">
      <div class="adress__text">
        Home >
      </div>
      <div class="adress__text2"> Product </div>
    </div>
    <div class="row pb:100px viewAs">
      <div class="col-lg-8" style="padding-right:64px;">
        <div class="home-filter pb:30px">
          <div class="home-filter__label">
            <div class="home-filter__text">View as:</div>
            <div class="home-filter__icon mr:10px fw:300">
              <i class="fa-solid fa-table-list home-filter__icon1" style="color:#e0d3d3">
                <i class="fal fa-list-ul"></i>
              </i>
            </div>
            <div class="home-filter__icon">
              <i class="fa-solid fa-table-cells home-filter__icon2">
                <i class="fas fa-th"></i>
              </i>
            </div>
          </div>
          <div class="home-filter__size">
            <div class="home-filter__search">
              <div class="pos:relative">
                <div class="home-filter__box pos:relative">
                  <input type="text" class="home-filter__input" style="padding: 12px 26px 12px 12px;
                  border: 1px solid var(--color-gray3);
                  border-radius: inherit;" placeholder="Alphabetically, A-Z">
                  <div class="home-filter__arrow pos:absolute">
                    <i class="fal fa-angle-down"></i>
                  </div>
                </div>
                <ul class="shortby mt:5px pos:absolute w:100% bgc:#fff z:888">

                </ul>
              </div>
            </div>

          </div>
        </div>
        <div class="row contain-new viewas1">
          {% for item in collection.products%}
          <div class="col-lg-4 col-md-6 col-xs-6">
            <div class="box-new pos:relative">
                <div class="box-new__img core-image-cover h:100%" css="--aspect-ratio: 3/4">
                  <img class="pet-product-card__img" src="{{item.featured_image.src | img_url('1000x')}}" alt="">
                  <div class="box-new__buy">
                    <p class = "box-new__buy-text">ADD TO CART</p>
                    <script class="box-news__products-json3" type="application/json" >{{item | json_encode()}}</script>
                  </div>
                  <div class="box-new__icon">
                    <div class="box-new__arc btn-addlist" data-tooltip="Add to wish list">
                      <i class="far fa-heart"></i>
                      <script class="box-news__products-json1" type="application/json" >{{item | json_encode()}}</script>
                    </div>
                    <div class="box-new__arc btn-quickView box-new__arc--display" data-tooltip="Quick view">
                      <i class="far fa-eye"></i>
                      <script class="box-news__products-json2" type="application/json" >{{item | json_encode()}}</script>
                    </div>
                    <div class="box-new__arc btn-compare box-new__arc--display" data-tooltip="Compare to other product">
                      <i class="fas fa-exchange-alt"></i>
                      <script class="box-news__products-json" type="application/json" >{{item | json_encode()}}</script>
                    </div>
                  </div>
                </div>
              {% if item.compare_at_price > item.price and content.sale_enable %}
              <div
                class="pos:absolute t:20px l:20px pt:4px pr:10px pb:4px pl:10px bgc:#ff5656 c:color-light-freeze bdrs:4px w:63px h:30px ta:center"
                css="{{ content.sale_design }}">{{ content.sale_text }}</div>
              {% endif %}
              <div class="box-new__body">
                <h2 class="box-new__title fz:16px mt:10px mb:10px ta:center">
                  <a href="{{ item.url }}" class="box-new__name fw:600 c:color-gray9">{{ item.title }}</a>
                </h2>
              </div>
              <div class="mt:10px ta:center">
                <ins class="fw:500 c:color-primary td:none p:2px">${{ item.price }}</ins>
                {% if item.compare_at_price > item.price %}
                  <del class="p:2px">${{ item.compare_at_price }}</del>
                {% endif %}
              </div>
              <div class="box-new__color">
                <script class="box-new__options-json" type="application/json"> {{ item.options_with_values | json_encode()}} </script>
              </div>
               <script class="box-news__variants-json" type="application/json" >{{item.variants | json_encode()}}</script>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="contain-new viewas2" style = "display:none;">
          {% for item in collection.products%}
          <div class="">
            <div class="box-new pos:relative row pb:30px">
              <div class="col-lg-4">
                <div class="box-new__img core-image-cover h:100%" css="--aspect-ratio: 3/4">
                  <img class="pet-product-card__img" src="{{item.featured_image.src | img_url('1000x')}}" alt="">
                  <div class="box-new__buy">
                    <p class = "box-new__buy-text">ADD TO CART</p>
                    <script class="box-news__products-json3" type="application/json" >{{item | json_encode()}}</script>
                  </div>
                  <div class="box-new__icon">
                    <div class="box-new__arc btn-addlist" data-tooltip="Add to wish list">
                      <i class="far fa-heart"></i>
                      <script class="box-news__products-json1" type="application/json" >{{item | json_encode()}}</script>
                    </div>
                    <div class="box-new__arc btn-quickView box-new__arc--display" data-tooltip="Quick view">
                      <i class="far fa-eye"></i>
                      <script class="box-news__products-json2" type="application/json" >{{item | json_encode()}}</script>
                    </div>
                    <div class="box-new__arc btn-compare box-new__arc--display" data-tooltip="Compare to other product">
                      <i class="fas fa-exchange-alt"></i>
                      <script class="box-news__products-json" type="application/json" >{{item | json_encode()}}</script>
                    </div>
                  </div>
                </div>
              </div>
              {% if item.compare_at_price > item.price and content.sale_enable %}
              <div
                class="pos:absolute t:20px l:20px pt:4px pr:10px pb:4px pl:10px bgc:#ff5656 c:color-light-freeze bdrs:4px w:63px h:30px ta:center"
                css="{{ content.sale_design }}">{{ content.sale_text }}</div>
              {% endif %}
              <div class="box-new__description col-lg-6">
                <div class="box-new__body">
                  <h2 class="box-new__title fz:16px mt:10px mb:10px ta:center">
                    <a href="{{ item.url }}" class="box-new__name fw:600 c:color-gray9">{{ item.title }}</a>
                  </h2>
                </div>
                <div class="mt:10px ta:center">
                  <ins class="fw:500 c:color-primary td:none p:2px">${{ item.price }}</ins>
                  {% if item.compare_at_price > item.price %}
                    <del class="p:2px">${{ item.compare_at_price }}</del>
                  {% endif %}
                </div>
                <div class="box-new__body">
                  <h2 class="box-new__title fz:16px mt:10px mb:10px ta:center">
                    <a href="{{ item.url }}" class="box-new__name c:color-gray9">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et.</a>
                  </h2>
                </div>
                <div class="box-new__color">
                  <script class="box-new__options-json" type="application/json"> {{ item.options_with_values | json_encode()}} </script>
                </div>
                 <script class="box-news__variants-json" type="application/json" >{{item.variants | json_encode()}}</script>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-lg-4">
        <div class="filter">
          <div class="filter__search" style="margin-bottom:25px;">
            <h6 class="filter__heading">Search</h6>
            <input type="text" class="filter__input" placeholder="Tìm Kiếm">
          </div>
          <div class="filter__ref" style="margin-bottom:25px;">
            <div class="filter__box1 d:flex jc:space-between">
              <h6 class="filter__heading">{{content1.heading}}</h6>
              <div class="filter__headingsub">{{content1.headingsub}}</div>
            </div>
            <ul class="filter__box2 d:flex" style="margin-bottom:25px;">
              {% for item in content1.item %}
              <li class="filter__text p:0px_5px bd:1px_solid_var(--color-gray3) mr:5px">
              {{item.item1}}
              <i class="fa-solid fa-xmark fz:14px c:#929292 ml:5px"></i>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="filter__catergor" style="margin-bottom:25px;">
            <h6 class="filter__heading">{{content2.heading}}</h6>
            <ul class="filter__list pl:20px list:inherit">
              {% for item in content2.item %}
              <li class="filter__item">{{item.item1}}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="filter__color" style="margin-bottom:25px;">
            <h6 class="filter__heading">{{content3.heading}}</h6>
            {% for item in content3.item %}
            <div class="filter__colorI filter__item{{item.id}} bgc:#ffd860"></div>
            {% endfor %}
          </div>
          <div class="filter__size" style="margin-bottom:25px;">
            <h6 class="filter__heading">{{content4.heading}}</h6>
            {% for item in content4.item %}
            <div class="filter__sizeBox">
              <p class="filter__sizeText">{{item.item1}}</p>
            </div>
            {% endfor %}
          </div>
          <div class="filter__brand" style="margin-bottom:25px;">
            <h6 class="filter__heading">{{content5.heading}}</h6>
            <ul class="filter__list pl:20px list:inherit">
              {% for item in content5.item %}
              <li class="filter__link">{{item.item1}}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="filter__tags">
            <h6 class="filter__heading">{{content6.heading}}</h6>
            {% for item in content6.item %}
            <div class="filter__tagsBox">
              <p class="filter__tagsText">{{item.item1}}</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="number pt:40px">
        <div class="number__page">
          <p class="number__text">1</p>
        </div>
        <div class="number__page">
          <p class="number__text">2</p>
        </div>
        <div class="number__page">
          <p class="number__text">3</p>
        </div>
        <div class="number__page">
          <p class="number__text">4</p>
        </div>
        <div class="number__page">
          <p class="number__text">-></p>
        </div>
      </div>
    </div>
  </div>
</section>
