
{% set uniqueId = "id_d2c5dfac-bcd9-48db-814a-c278a3eb8b8b" %}
{% set backgroundFixed = general_settings.fixed ? 'fixed' : 'scroll' %}
{% set backgroundColor = general_settings.background_color_enable ? 'background-color:' ~  general_settings.color ~  ';' : '' %}
{% set backgroundImage = general_settings.background_image_enable ? 'background-image: url(' ~  general_settings.image ~ 
');background-attachment:' ~  backgroundFixed ~  ';background-size:' ~  general_settings.size ~  ';' : '' %}

<section data-id="products" class="pet-section pos:relative z:1 pt:50px pb:50px bgz:cover bgp:center" css="{{ backgroundColor }}{{ backgroundImage }}">
  <div class="core-overlay" css="background-color: {{ general_settings.overlay }}"></div>
  <div class="container">
    <div class="pet-heading ta:center mb:20px">
      <h2 css="{{ heading.title_design }}">{{ heading.title }}</h2>
      <div css="{{ heading.description_design }}">{{ heading.description }}</div>
    </div>
    <div component="content" class="row row-cols-lg-{{ content.column.lg }} row-cols-md-{{ content.column.md }} row-cols-sm-{{ content.column.sm }} row-cols-{{ content.column.xs }}">
      {% set collection = collections[content.collection] %}
      {% set quantity_product_displayed = content.quantity_product_displayed %}

      {% for product in collection.products | slice(0, quantity_product_displayed) %}
        <div class="col">
          <div class="pet-product-card pos:relative p:10px ta:center bdrs:10px bd:1px_solid_color-gray2 h:100%">
            <div class="bdrs:10px ov:hidden">
              <a href="{{ product.url }}">
                <div class="core-image-cover" css="--aspect-ratio: 3/2">
                  <img class="pet-product-card__img" src="{{ product.featured_image.src | img_url('400x')}}" alt="{{ product.title }}">
                </div>
              </a>
            </div>
            {% if product.compare_at_price > product.price and content.sale_enable %}
              <span class="pos:absolute t:20px l:20px pt:4px pr:10px pb:4px pl:10px bgc:#ff5656 c:color-light-freeze bdrs:4px" css="{{ content.sale_design }}">{{ content.sale_text }}</span>
            {% endif %}
            <div class="pet-product-card__body">
              <h2 class="pet-product-card__title fz:16px mt:10px mb:10px">
                <a href="{{ product.url }}" class="pet-product-card__name fw:600 c:color-gray9">{{ product.title }}</a>
              </h2>
              {% if content.review_app_enable %}
                {% if builderMode %}
                  <div class="pet-product-card__rate fz:14px c:#feaa01">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                {% else %}
                  
                    {% if content.review_app_app == 'product_reviews' %}
                      <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                    {% elseif content.review_app_app == 'rivyo_reviews' %}
                      <div class="wc_product_review_badge" data-handle="{{ product.handle }}"></div>
                    {% elseif content.review_app_app == 'loox_reviews' %}
                      <a href="#looxReviews">
                        <div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"></div>
                      </a>
                    {% else %}
                  
{% endif %}

                {% endif %}
              {% endif %}
              <div class="mt:10px">
                <ins class="fz:20px fw:700 c:color-primary td:none p:2px">${{ product.price }}</ins>
                {% if product.compare_at_price > product.price %}
                  <del class="p:2px">${{ product.compare_at_price }}</del>
                {% endif %}
              </div>
              <a class="core-btn core-btn--primary bdrs:30px h:40px miw:160px mt:10px mb:15px" href="#" css="{{ content.add_to_cart_design }}">{{ content.add_to_cart_text }}</a>
              <div class="pet-product-card__colors d:flex ai:center jc:center">
                <script class="pet-product-card__options-json" type="application/json">{{ product.options_with_values | json_encode()}}</script>
              </div>
              <script class="pet-product-card__variants-json" type="application/json">{{ product.variants | json_encode()}}</script>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="mt:30px mt:40px@sm ta:center">
      {% if button_view_all.enable %}
        <a class="core-btn core-btn--border p:20px pt:8px bdrs:40px pb:8px miw:160px" href="{{ button_view_all.link }}" target="{{ button_view_all.target }}" css="{{ button_view_all.design }}">
          {{button_view_all.text}}
        </a>
      {% endif %}
    </div>
  </div>
</section>
