{% assign backgroundFixed = general_settings.fixed ? 'fixed' : 'scroll' %}
{% assign backgroundColor = general_settings.background_color_enable ? 'background-color:' | append: general_settings.color | append: ';' : '' %}
{% assign backgroundImage = general_settings.background_image_enable ? 'background-image: url(' | append: general_settings.image | append:
');background-attachment:' | append: backgroundFixed | append: ';background-size:' | append: general_settings.size | append: ';' : '' %}

<section data-id="features" css="{{ backgroundColor }}{{ backgroundImage }}">
  <div class="core-overlay" css="background-color: {{ general_settings.overlay }}"></div>
  <div class="container-menudonars pos:fixed w:100% t:0 z:999">
    <div class="container-menudonars__list">
      <ul class="container-menudonars__menu">
        {% for item in content %}
        <li class="container-menudonars__item container-menudonars__item{{item.class}}">
          <a class="container-menudonars__link">{{item.title}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="container-menudonars__itemI">
      <ul class="container-menudonars__iconI">
        {% for item in items %}
        <li class="container-menudonars__linkI">
            <a  class="{{item.name}} {{item.style}}">
              <i class="{{item.icon}} {{item.position}}"></i>
            </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
