{% assign backgroundFixed = general_settings.fixed ? 'fixed' : 'scroll' %}
{% assign backgroundColor = general_settings.background_color_enable ? 'background-color:' | append:
general_settings.color | append: ';' : '' %}
{% assign backgroundImage = general_settings.background_image_enable ? 'background-image: url(' | append:
general_settings.image | append:
');background-attachment:' | append: backgroundFixed | append: ';background-size:' | append: general_settings.size |
append: ';' : '' %}

<section class="pt:50px" data-id="slider3" css="{{ backgroundColor }}{{ backgroundImage }}">
  <div class="core-overlay" css="background-color: {{ general_settings.overlay }}"></div>
  <div class="container-instily Mt(100px)">
    <div class="row container-instily__box3">
      <div class="col-lg-6 container-instily__contain">
        <div class="container-instily__heading">
          <div class="container-instily__heading1">{{content.heading}}</div>
        </div>
        <div class="container-instily__title">
          <h1 class="container-instily__title1">{{content.title}}</h1>
        </div>
        <div class="container-instily__content">
          <div class="container-instily__content1">{{content.description}}</div>
        </div>
      </div>
    </div>
  </div>
</section>
