
{% set uniqueId = "id_ef59376f-e193-4372-ba17-b279b8c9b7b7" %}
{% set backgroundFixed = general_settings.fixed ? 'fixed' : 'scroll' %}
{% set backgroundColor = general_settings.background_color_enable ? 'background-color:' ~ 
general_settings.color ~  ';' : '' %}
{% set backgroundImage = general_settings.background_image_enable ? 'background-image: url(' ~ 
general_settings.image ~ 
');background-attachment:' ~  backgroundFixed ~  ';background-size:' ~  general_settings.size ~  ';' : '' %}

<section data-id="features" class="veda-section" css="{{ backgroundColor }}{{ backgroundImage }}">
  <div class=" core-overlay" css="background-color: {{ general_settings.overlay }}"></div>
  <div class="container">
    {% if use_banner_image %}
      <img src="{{ banner_image }}" alt="" width="100%" />
    {% else %}
      {{ banner_builder.title }}
      {{ banner_builder.description }}
    {% endif %}
  </div>
</section>
