
{% set uniqueId = "id_7fa1fabc-03ba-45c8-8d80-069fced7c3ff" %}
{% set backgroundFixed = general_settings.fixed ? 'fixed' : 'scroll' %}
{% set backgroundColor = general_settings.background_color_enable ? 'background-color:' ~ 
general_settings.color ~  ';' : '' %}
{% set backgroundImage = general_settings.background_image_enable ? 'background-image: url(' ~ 
general_settings.image ~ 
');background-attachment:' ~  backgroundFixed ~  ';background-size:' ~  general_settings.size ~  ';' : '' %}

<section class=" pt:50px" data-id="newarrivals" css="{{ backgroundColor }}{{ backgroundImage }}">
  <div class="core-overlay" css="background-color: {{ general_settings.overlay }}"></div>
  <div class="container">
    {% set collection = collections[content.collection] %}
    <div class="content-text">
      <div class="content-text__headline">
        <h3>{{heading.title}}</h3>
      </div>
    </div>
    <div class="row contain-new">
      {% for item in collection.products%}
      <div class="col-lg-3 col-md-6 col-xs-6">
        <div class="box-new pos:relative">
            <div class="box-new__img core-image-cover h:100%" css="--aspect-ratio: 3/2">
              <img class="pet-product-card__img" src="{{item.featured_image.src | img_url('1000x')}}" alt="">
              <div class="box-new__buy">
                <p>ADD TO CART</p>
              </div>
              <div class="box-new__icon">
                <div class="box-new__arc btn-addlist" data-tooltip="Add to wish list">
                  <i class="far fa-heart"></i>
                  <script class="box-news__products-json1" type="application/json" >{{item | json_encode()}}</script>
                </div>
                <div class="box-new__arc btn-quickView box-new__arc--display" data-tooltip="Quick view">
                  <i class="far fa-eye"></i>
                  <script class="box-news__products-json2" type="application/json" >{{item | json_encode()}}</script>
                </div>
                <div class="box-new__arc btn-compare box-new__arc--display" data-tooltip="Compare to other product">
                  <i class="fas fa-exchange-alt"></i>
                  <script class="box-news__products-json" type="application/json" >{{item | json_encode()}}</script>
                </div>
              </div>
            </div>
          {% if item.compare_at_price > item.price and content.sale_enable %}
          <div
            class="pos:absolute t:20px l:20px pt:4px pr:10px pb:4px pl:10px bgc:#ff5656 c:color-light-freeze bdrs:4px w:63px h:30px ta:center"
            css="{{ content.sale_design }}">{{ content.sale_text }}</div>
          {% endif %}
          <div class="box-new__body">
            <h2 class="box-new__title fz:16px mt:10px mb:10px ta:center">
              <a href="{{ item.url }}" class="box-new__name fw:600 c:color-gray9">{{ item.title }}</a>
            </h2>
          </div>
          <div class="mt:10px ta:center">
            <ins class="fw:500 c:color-primary td:none p:2px">${{ item.price }}</ins>
            {% if item.compare_at_price > item.price %}
              <del class="p:2px">${{ item.compare_at_price }}</del>
            {% endif %}
          </div>
          <div class="box-new__color">
            <script class="box-new__options-json" type="application/json"> {{ item.options_with_values | json_encode()}} </script>
          </div>
           <script class="box-news__variants-json" type="application/json" >{{item.variants | json_encode()}}</script>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
